.about-me {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template: repeat(2, minmax(250px, auto))/400px 670px;
        gap: 40px 70px;
        grid-auto-rows: minmax(250px, auto);
        grid-template-areas:
            "photo descr"
            "photo skills";
    }
    &__photo {
        grid-area: photo;
        width: 400px;
        height: 600px;
        img {
            width: 100%;
        }
    }
    &__descr {
        grid-area: descr;
    }
    &__text {
        margin-top: 20px;
        width: 530px;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
    }
    &__skills {
        grid-area: skills;
        display: grid;
        grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
        grid-auto-rows: 1fr;
        gap: 20px 50px;
        &-item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-text {
            width: 200px;
            margin-top: 6px;
            font-weight: 500;
            font-size: 14px;
            color: #000000;
            &_grey {
                color: #DBC9C9;
            }
        }
    }
}