.circle_left {
    position: relative;
    @include before_circle_left;
    padding-left: 10px;
    z-index: 2;
}

.circle_left_top {
    position: relative;
    @include before_circle_left_top;
    padding: 15px 0 0 15px;
    z-index: 2;
}