.contacts {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        column-gap: 70px;
    }
    &__photo {
        width: 400px;
        height: 600px;
        img {
            width: 100%;
        }
    }
    &__descr {
        &-title {
            margin-top: 6px;
        }
        form {
            display: grid;
            grid-template-columns: repeat(2, 280px);
            column-gap: 25px;
        }
    }
    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
    }
    &__links {
        margin-top: 20px;
        width: 140px;
        display: flex;
        justify-content: space-between;
    }
}