@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about-me {
        &__wrapper {
            grid-template-columns: 370px 540px;
            gap: 30px 50px;
        }
        &__skills {
            grid-template-columns: repeat(2,250px);
            column-gap: 40px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,370px);
            column-gap: 80px;
        }
    }
    .skill {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,270px);
            justify-content: center;
        }
        &__rating {
            padding-top: 100px;
            grid-template-columns: repeat(auto-fit,350px);
            justify-content: space-around;
        } 
    }
    .works {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,280px);
            justify-content: center;
            gap: 15px;
            .plans {
                grid-row: unset;
                grid-column: unset;
            }
            .mac {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 10px 0 10px;
            grid-template-columns: 350px 535px;
        }
        &__form {
            grid-template-columns: repeat(2,260px);
            row-gap: 25px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        padding-top: 200px
    }
    .about-me {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 340px 360px;
            column-gap: 30px;
        }
        &__skills {
            grid-template: auto auto auto / 1fr;
            row-gap: 20px;
        }
    }
    .resume {
        padding-top: 100px;
        &__wrapper {
            padding: 45px 20px 0 20px;
            grid-template-columns: repeat(auto-fit,425px);
            justify-content: center;
            row-gap: 35px;
        }
        &__item {
            margin-left: 30px;
            &::before {
                left: -30px;
            }
        }
    }
    .skill {
        padding-top: 100px;
    }
    .works {
        padding-top: 100px;
    }
    .price {
        &__wrapper {
            padding: 50px 30px 0 30px;
            grid-template-columns: repeat(auto-fit,365px);
            justify-content: center;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 575px;
            justify-content: center;
        }
        &__photo {
            img {
                display: none;
            }
        }
        &__form {
            grid-template-columns: repeat(2,280px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz36 {
            font-size: 24px;
        }
        &_fz48 {
            font-size: 38px;
        }
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 65%/cover;
        &__title {
            line-height: 49px;
        }
    }
    .hamburger {
        top: 15px;
        right: 15px;
    }
    .about-me {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 540px;
            grid-template-rows: 340px auto auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__text {
            font-size: 16px;
        }
        &__skills {
            grid-template-columns: repeat(2,250px);
            column-gap: 30px;
        }
    }
    .resume {
        padding-top: 90px;
    }
    .skill {
        padding-top: 90px;
    }
    .works {
        padding-top: 90px;
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 500px;
        }
        &__form {
            grid-template-columns: repeat(2,240px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
            line-height: 39px;
        }   
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;
        }
    }
    .promo {
        padding-top: 150px;
    }
    .about-me {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__text {
            font-size: 14px;
        }
        &__skills {
            grid-template: auto auto auto / 1fr;
            row-gap: 20px;
        }
        &__skills-text {
            font-size: 12px;
        }
    }
    .resume {
        padding-top: 50px;
        &__wrapper {
            padding: 30px 0 0 0;
            grid-template-columns: repeat(auto-fit,300px);
            row-gap: 30px;
        }
    }
    .skill {
        padding-top: 50px;
        
        &__rating {
            padding-top: 50px;
            grid-template-columns: repeat(auto-fit,295px);
        } 
    }
    .works {
        padding-top: 50px;
    }
    .price {
        &__wrapper {
            padding: 30px 0 0 0;
            grid-template-columns: repeat(auto-fit,280px);
        }
        &__item {
            padding-left: 10px;
        }
    }
    .contacts {
        padding-top: 50px;
        padding-bottom: 50px;
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            grid-column: unset;
            grid-template: auto auto / auto;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}