@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about-me {
        &__wrapper {
            grid-template-columns: 370px 540px;
            gap: 30px 50px;
        }
        &__skills {
            grid-template-columns: repeat(2,250px);
            column-gap: 40px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        padding-top: 200px
    }
    .about-me {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 340px 360px;
            column-gap: 30px;
        }
        &__skills {
            grid-template: auto auto auto / 1fr;
            row-gap: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 38px;
        }   
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 65%/cover;
        &__title {
            line-height: 49px;
        }
    }
    .hamburger {
        top: 15px;
        right: 15px;
    }  
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
            line-height: 39px;
        }   
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;
        }
    }
}